.popup {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0.5rem;
}

label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid tomato;
    margin: 2px 0
}
p {
    margin: 2px;
    font-size: 15px;
}
.stars {
    font-size: 0.3rem;
    color: gold;
}
.time {

    font-size: 0.8rem;
}

.newPlaceForm {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0.5rem;
}
input, textarea {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
}

